# EditorConfig helps maintain consistent coding styles
# Top-most EditorConfig file
root = true

# Unix shell scripts
[*.sh]
indent_style = space
indent_size = 4
insert_final_newline = true
end_of_line = lf
trim_trailing_whitespace = true

# Indent case statements (shfmt -ci)
# shfmt will pick this up if supported
[*.sh]
shfmt_indent_case = true 